{% extends 'main/base.html' %}
{% block title %}LoginPage{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="formbox">
    <form method="post">
        {% csrf_token %}
        <div class='innerform'>
        <div class="form-group">
          <label for="{{ form.username.id_for_label }}">Username</label>
          <input type="text" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" class="form-control" style="width: 200px;">
        </div>
        <div class="form-group">
          <label for="{{ form.password.id_for_label }}">Password</label>
          <input type="password" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" class="form-control" style="width: 200px;">
        </div>
        <p>Don't have an account? Register <a href={% url 'signup' %}>here</a>!</p>
        <button type="submit" class="btn btn-success">Login</button></div>
      </form>
</div>
{% endblock %}
